.page
    .main
        .header
            img(src="img/logo.svg").logo 
            .buttons
                a(href="" target="_blank").btn.btn_login Вхід
                a(href="" target="_blank").btn.btn_reg Реєстрація
        .wheel-title Крути колесо — забирай бонуси
        .banner
            .banner__koala
                img(src="img/koala.png").banner__koala_img
                .banner__koala_text
                    span У тебе #[br]
                    span.tries  
            .banner__wheel
                img(src="img/wheel-reel.png").banner__wheel_reel
                img(src="img/wheel-top.png").banner__wheel_top
                img(src="img/wheel-bottom.png").banner__wheel_bottom
                .banner__light_bg 
                .banner__light_lamp-one 
                .banner__light_lamp-two 
                .banner__button
            .banner__text Крути колесо — забирай бонуси
        .rules
            .rules__text
                h2 Правила та умови
                ul
                    li Крути колесо
                    li Вигравай бонус
                    li Реєструйся та роби депозит
                    li Бонус на твоєму рахунку! 
                a(href="#").bonus-rules-link.rules__link Детальніше
            img(src="img/arrow-bonus.png").rules__arrow
            img(src="img/l1.png").rules__leaf-1
            img(src="img/l2.png").rules__leaf-2
            img(src="img/l3.png").rules__leaf-3
            img(src="img/l4.png").rules__leaf-4
        .popup
            .popup__window
                .popup__window-close
                .popup__window-txt
                    .popup__window-txt-title Як отримати Фріспіни?
                    ul.popup__window-txt-list
                        li Зроби депозит від 150 UAH
                        li В особистому кабінеті у розділі “Бонуси” у вкладці “Фріспіни” натисни кнопку «Старт». 
                        li Зроби будь-яку ставку. 
                        li Як тільки ставку зроблено — натисни «Прийняти» та забирай спіни.
                        p.pink Бонусна пропозиція дійсна протягом 5 днів.
            .popup__bg
        .win
            .win__window
                .win__window-txt
                    h2.win__window-txt-title Алоха, ти виграв #[br] фріспіни
                    p.win__window-txt-price 150 FS
                    p.win__window-txt-try Залишилась ще #[span 1] спроба
                    a(href="#").win__button Крути ще
            .win__bg
        .win-second
            .win-second__window
                .win-second__window-txt
                    h2.win-second__window-txt-title Алоха, ти виграв! 
                    p.win-second__window-txt-price 4500₴ #[br] 150 FS
                    p.win-second__window-txt-reg Реєструйся, бонус #[br]та фріспіни на твоєму рахунку
                    a(href="#").win-second__button Забирай бонус
                    a(href="#").win-second__link Правила та умови
            .win-second__bg
    .footer
        .container
            .footer__bonus
                .bonus-rules
                    a(href="#").bonus-rules-link.footer__bonus-txt #[span Правила та умови]
            .footer__icons
                .footer__icons-pay
                    img(src="img/18-icon.png").footer__icons-icon21
                    img(src="img/GPay.png").footer__icons-gpay
                    img(src="img/ApplePay.png").footer__icons-ipay
                    img(src="img/visa.svg").footer__icons-visa
                    img(src="img/mastercard.svg").footer__icons-mastercard
                .footer__icons-app
                    a(href="" target="_blank").footer__icons-apple
                    a(href="" target="_blank").footer__icons-google
